<div class="row" *ngIf="book.category">
    <div class="card mt-3">
      <img src="{{ book.photo }}" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h5 class="card-title">{{ book.author }}</h5>
        <h5 class="card-title">
          <a [routerLink]="['/category', book.category._id]">
            {{ book.category.name }}
          </a>
        </h5>
        <p class="card-text">{{ book.description }}</p>
      </div>
    </div>
</div>
