<div class="row">
    <div class="card col-3 mt-3" *ngFor="let book of books">
      <a [routerLink]="['/book', book._id]">
        <img src="{{ book.photo }}" class="card-img-top img-fluid">
        <!-- <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <h5 class="card-title">{{ book.author }}</h5>
          <p class="card-text">{{ book.description }}</p>
        </div> -->
      </a>
    </div>
</div>
