<div class="row">
  <div class="card col-3 mt-3" *ngFor="let book of books">
    <a [routerLink]="['/book', book._id]">
      <img src="{{ book.photo }}" class="card-img-top img-fluid">
    </a>
  </div>
</div>
